.main {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Footer beállításai */

footer.footer {
	background-color: #222;
	border-color: #080808;
	position: fixed;
	bottom: 0px;
	width: 100%;
	min-height: 50px;
}

footer.footer .container {
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #9D9D9D;
}

/* Felsorolás a főoldalon */

ol {
	counter-reset: item;
}

li { 
	display: block;
}

ol li:before {
	content: counters(item, ".") ". ";
	counter-increment: item;
}

.mintaBemenetClass{
	cursor: pointer;
}

/* Algorimusok leírásai */

.utasitas {
	color: black;
}

#program, .tab-content .tab-pane {
	padding-top: 20px;
	padding-left: 10px;
}

/* Stuktogram */
#strukto table {
	width: 80%;
}

#strukto table tr td {
	border: 1px solid black;
	padding-left: 10px;
}

.elagazasFeltetel, .ciklusFeltetel {
	text-align: center;
}

#strukto table tr .atloJobb {
	background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px));
	border-left: 0px;
	width: 30px;
}

#strukto table tr .atloBal {
	background-image: linear-gradient(to bottom left,  transparent calc(50% - 1px), black, transparent calc(50% + 1px));
	border-right: 0px;
	width: 30px;
}

#strukto table tr .elagazasFeltetel {
	border-left: 0px;
	border-right: 0px;
}

#strukto table tr .ciklusFeltetel, #strukto table tr .noBottomBorder {
	border-bottom: 0px;
}

#strukto table tr .noTopBorder{
	border-top: 0px;
}

#strukto table tr .ciklusMagElsoOszlop {
	border-top: 0px;
}

#strukto table tr .belsoCiklusMag{
	width: 50px;
}

/* C++ implementáció */

#implementation  {
	color: #FF003A;
}

#implementation .cppVariable, .cplusplus .cppVariable {
	color: black;
}

#implementation .cppNumber, .cplusplus .cppNumber {
	color: #F000F0;
}

#implementation .cppKeyword, .cplusplus .cppKeyword {
	font-weight: bold;
	color: #0066E1;
}

.line {
	margin-bottom: 5px !important;
}

.tab1 {
	padding-left: 20px;
}

.tab2 {
	padding-left: 40px;
}

.tab3 {
	padding-left: 60px;
}

.tab4 {
	padding-left: 80px;
}

#leiras {
	text-align: justify;
	padding-bottom: 20px;
}

/* Bemenet */

#bemenet, #bemenet2, .inputMezo, #logKerBemenet {
	width: 200px;
	display: inline;
}

#feltetel {
	width: 135px;
	display: inline;
}

#relaciosJel{
	margin-left: 5px;
	width: 60px;
	display: inline;
}

#futtatoGomb {
	margin-bottom: 3px;
}

#nyilak {
	text-align: center;
}

#valtozok {
	min-height: 60px;
}

.blueElem , .blueTombElem {
	color: blue;
	font-weight: bold;
}

.greenElem{
	color: green !important;
	font-weight: bold;
}

/*#pszeudo {
	border: 1px solid;
	padding: 0 20px 20px 20px;
}*/

.nev {
	min-width: 55px;
	display: inline-table;
	font-weight: bold;
	text-align: right;
}

.ertek {
	display: inline;
}

#algo-prog {
	height: 5px !important;
	margin-top: 15px;
}

/* Verem tulajdonságok */

#vE {
	border: 1px solid black;
	border-top: none;
	font-size: 16px;
}

#vE td {
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}

/* Sor tulajdonságok */

#sE {
	font-size: 16px;
	display: inline;
}

#sE td {
	border: 1px solid black;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

.sorNyil {
	top: -4px;
}