<div>
    <div id="nyilak">
        <button class="btn btn-play" id="elozoGomb" onclick="elozo()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button class="btn btn-play" id="stopGomb" onclick="stop()">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button class="btn btn-play" id="pauseGomb" onclick="pause()">
            <span class="glyphicon glyphicon-pause"></span>
        </button>
        <button class="btn btn-play" id="playGomb" onclick="play()">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <button class="btn btn-play" id="kovetkezoGomb" onclick="kovetkezo()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>

    <div id="algo-prog" class="progress">
        <div id="algo-progressbar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="45"
             aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only"></span>
        </div>
    </div>
</div>