<div>
    <p class="h4" data-i18n="label.valtozokertekei"></p>
    <div id="valtozok"></div>

    <p class="h4" data-i18n="label.tomballasa"></p>
    <div id="tombok"></div>

    <p class="h4" data-i18n="label.valtozas"></p>
    <div id="magyarazat"></div>
</div>