<div class="container">
	<div class="row">
		<div class="col-md-6" id="dokumentacio">Verzió: 1.0 (<a href="doc/dokumentacio.docx" data-i18n="label.dokumentacio"></a>)</div>
		<div class="col-md-6 text-right" id="szerzo">Készítette: Bende Imre ( Témavezető: Dr. Zsakó László )</div>
	</div>
</div>